@model iAsset.App.Web.Models.GateViewModel[]
<h2>GATE KEEPER APPLICATION</h2>

TODAY'S DATE :
<h4>@DateTime.Now.ToString("yyyy-MM-dd")</h4>
<input type="date" name="today" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datepicker" />

<button class="btn btn-sm btn-primary pull-right" id="btnAddFlight" data-toggle="modal" data-target="#addFlight">
    <i class="fa fa-plus"></i> Add Flight
</button>

<div class="row">
    @foreach (var gate in Model)
    {
        <div class="col-sm-6">
            <h4>
                @gate.Name

                
            </h4>



            @{
        var tempDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0, 0);
            }
            <table class="table table-bordered" style="margin-top:10px!important;">
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Flights</th>
                    </tr>
                </thead>

                @for (int i = 0; i <= 48; i++)
                {
                    var startTime = tempDate.AddMinutes(30 * i);
                    var endTime = startTime.AddMinutes(29);
                    <tr>
                        <td>
                            @startTime.ToString("hh:mm")                            
                        </td>
                        <td>
                            @endTime.ToString("hh:mm")
                        </td>
                        <td>
                            @foreach (var flight in gate.Flights)
                            {
                                if (startTime.Hour == flight.ArrivalTime.Hour && startTime.Minute < flight.ArrivalTime.Minute)
                                {
                                    <div class="well well-sm">
                                        <i class="fa fa-plane"></i>
                                        <h4>@flight.FlightName</h4>
                                        <table>
                                            <tr>
                                                <td>Arrival Time</td>
                                                <td><label class="label label-success">@flight.ArrivalTime.ToString("hh:mm")</label></td>
                                            </tr>
                                            <tr>
                                                <td>Depart Time</td>
                                                <td><label class="label label-danger">@flight.DepartureTime.ToString("hh:mm")</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            }
                        </td>

                    </tr>

                }
            </table>
        </div>
    }
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addFlight" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Flight</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Gate">Gate</label>
                        <select name="GateId" class="form-control" required>
                            <option value="1" selected>Gate 1</option>
                            <option value="2">Gate 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Flight Name</label>
                        <input type="email" class="form-control" required id="flightName" placeholder="Flight Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Arrival time</label>
                        <input type="time" class="form-control" required id="arrivalTime" placeholder="Arrival time hh:mm">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Departure time</label>
                        <input type="time" class="form-control" required id="departureTime" placeholder="Departure time hh:mm">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveFlight" class="btn btn-primary">Save Flight</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script>
        $(document).ready(function () {
            buttonClicks();
        });

        function buttonClicks() {
            $("#btnSaveFlight").click(function () {
                $.post("/","",)
                $("#addFlight").modal('hide');
            });
        }

    </script>
}